<a href="https://colab.research.google.com/github/Apoorval10/Assigment/blob/main/Heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Features of datasets

In [ ]:
import pandas as pd 
df = pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv') 
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
df.shape

(303, 14)

The data set contains a total of 76 attributes out of which 14 will be used

Age( Age in years)

Sex(1=male & 0=female)

cp: chest pain --
Value 1: typical angina:substernal chest pain precipitated by physical exertion or emotional stress and relieved with rest or nitroglycerin

Value 2: atypical angina:When one experiences chest pain that doesn't meet the criteria for angina, it's known as atypical chest pain -- 

Value 3: non-anginal pain: recurrent chest pain that is indistinguishable from ischemic heart pain after a reasonable workup has excluded a cardiac cause -- 

Value 4: asymptomatic:Asymptomatic heart attacks medically known as silent myocardial infarction (SMI) annually accounts for around 45-50% of morbidities due to cardiac ailments and even premature deaths in India. The incidences among middle aged people experiencing SMI is twice likely to develop in males than females. The symptoms of SMI being very mild in comparison to an actual heart attack; it is described as a silent killer. Because sometimes there is no cardiac arrest symptoms.

Trestbps: resting blood pressure (in mm Hg on admission to the hospital)
chol: serum cholestoral in mg/dl

Fbs:fast blood sugar
level of 99 mg/dL or lower is normal, 100 to 125 mg/dL indicates you have prediabetes, and 126 mg/dL or higher indicates you have diabetes.
(1 = true; 0 = false) 

restecg: resting electrocardiographic results -- 
Value 0: normal -- 
Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) -- 
Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria

thalach: maximum heart rate achieved
 
exang: exercise induced angina (1 = yes; 0 = no)

oldpeak = ST depression induced by exercise relative to rest

slope: the slope of the peak exercise ST segment -- 
Value 1: upsloping -- 
Value 2: flat -- 
Value 3: downsloping

ca: number of major vessels (0-3) colored by flourosopy

thal: 
3 = normal; 
6 = fixed defect;
7 = reversable defect
The predicted attribute